.scroll-btn{
        position: fixed;
        padding: .7rem .8rem ;
        font-size: 20px;
        bottom: 40px;
        right: 40px;
        background-color: var(--primary);
        color: #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 3px;
        z-index: 111;
       
        &:hover{
                background-color: var(--light);
                border: 1px solid var(--primary);
                color: var(--primary);
        }
        @media screen and (max-width:600px) {
                right: 0px;
                display: none;
                
        }
}
