
.testimonail-container{
    background-color:#F1F8FF; 
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .flex {
            display: flex;
            align-items: center;
            gap: .7rem;
    
            .border {
                margin-top: .5rem;
                width: 45px;
                height: 2px;
                background-color: var(--primary);
            }
        }
    
        h2 {
            margin-top: .2rem;
        }
    
    }


}